<div class="container">
  <%= render "table1" %>
  <%= render "table2" %>
  <%= render "sortby" %>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {

//ADD ROW
    $(".addButton").click(function(e){
      var parent = e.target.parentNode.parentNode
      var imageLink = $(parent).find('.avatar').find('img').attr('src');
      var name = $(parent).find('.name').text()
      var handle = $(parent).find('.media-handle').text()
      var follower = $(parent).find('.follower').text()
      var engagement = $(parent).find('engagement').text()

      console.log({imageLink, name, handle, follower, engagement})

      $('#table2').append(`<tr id="table2_row">

          <td>
          <span class="avatar"><img src="${imageLink}" /></span>
          </td>

          <td>
            <h3 class="name">${name}</h3>
            <small class="handle">
              <i class="fab fa-instagram"></i>
              <span class="media-handle">${handle}</span>
            </small>
          </td>

           <td>
              <h3 class="follower">${follower}</h3>
               <small class="title">Followers</small>
          </td>

           <td>
            <h3 class="engagement">${engagement} %</h3>
             <small class="title">Engagement</small>
          </td>

          <td class="deleteButton">
            <i class="fas fa-times"></i>
          </td>
        </tr>`)
//DELETE
      $(".deleteButton").click(function(){
      $(this).parents('tr').first().remove();
      });
    });


//SORT

    // $(document).ready(function() {
  //Set id field to 1
  var id = $('#UserID');
  id.val("1");

  // //Add 1 to the id in textbox
  // function incID(){
  //   var str = id.val();
  //   var int = parseInt(str);
  //   var idVal = int + 1;
  //   id.val(idVal.toString());
  // }
  // //When button clicked
  // $('button').on('click', function(){
  //   //create a new object
  //   var obj = new Object();
  //   //pass value dynamically from input box
  //   obj.id = $('#UserID').val();
  //   obj.name = $('#UserName').val();
  //   obj.occupation = $("#UserOccupation").val();
  //   //display data to the table
  //   var addrow = "<tr><td class='col-id'>" + obj.id + "</td><td class='col-name'>" + obj.name + "</td><td class='col-occupation'>"+ obj.occupation +"</td></tr>";
  //   $("table tbody").append(addrow);
  //   //Add 1 to id field
  //   incID();
  // });

  function sortByNumber(rows, selector, ascending) {
    rows.sort(function(a, b) {
      var numberA = parseInt($(selector, a).text(), 10);
      var numberB = parseInt($(selector, b).text(), 10);
      if (ascending)
        return numberA - numberB;
      else
        return numberB - numberA;
    });

    return rows;
  }

  // function sortByText(rows, selector, ascending) {
  //   rows.sort(function(a, b) {
  //     var textA = $(selector, a).text();
  //     var textB = $(selector, b).text();
  //     if (ascending)
  //       return textA.localeCompare(textB);
  //     else
  //       return textB.localeCompare(textA);
  //   });

  //   return rows;
  // }

  function sortAllBy(field) {
    var rows = $('table2 tr').toArray();

    switch (field) {
      case 'Engagement':
        rows = sortByNumber(rows, 'td.col-engagement', true);
        break;
      // case 'Name':
      //   rows = sortByText(rows, 'td.col-name', true);
      //   break;
      // case 'Occupation':
      //   rows = sortByText(rows, 'td.col-occupation', true);
      //   break;
      // default:
      //   console.error('Undefined sort field ' + field);
      //   break;
    }

    for (var i = 0; i < rows.length; i++) {
      $('table tbody').append(rows[i]);
    }
  }

  $('select').on('change', function() {
    sortAllBy(this.value);
  });
});


</script>
