<div class="container">
  <div class="tab">
    <table id="table1">
      <tr id="table1_row">
        <% @influencers.each do |influencer| %>
        <tr class="influencer">
          <td>
            <img src="https://via.placeholder.com/350x150" class="avatar"/> <br />
          </td>
          <td>
            <h3 class="name"><%= influencer.name %></h3>
            <small class="handle">
              <i class="fab fa-instagram"></i>
              <span class="media-handle"><%= influencer.social_media %></span>
            </small>
          </td>
          <td class="addButton">
            <i class="fas fa-plus"></i>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="tab">
    <table id="table2">
    </table>
  </div>
</div>
