<div class="container">
  <div class="col-md-3">
    <table id="table1">
      <h3> Suggested Influencer </h3>
        <tr id="table1_row">
          <% @influencers.each do |influencer| %>
          <tr>
            <td>
            <span class="avatar">
              <%= image_tag influencer.influencer_instagram_profile_image %>
            </span>
            </td>
            <td>
              <h3 class="name"><%= influencer.influencer_full_name %></h3>
              <small class="handle">
                <i class="fab fa-instagram"></i>
                <span class="media-handle"><%= influencer.influencer_instagram_username %></span>
              </small>
            </td>
            <td class="addButton">
              <i class="fas fa-plus"></i>
            </td>
          </tr>
        <% end %>
    </table>
  </div>

  <div class="col-md-6">
    <table id="table2">
      <h3 class="table_title"> Starred Influencer </h3>

    </table>
  </div>

  <div class="col-md-3">
    Sort By:
    <select>
      <option>Engagement(High-Low)</option>
    </select>
  </div>

</div>

<!-- <script src="https://code.jquery.com/jquery-latest.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $(".addButton").click(function(e){
      var parent = e.target.parentNode.parentNode
      //console.log(parent);
      var imageLink = $(parent).find('.avatar').find('img').attr('src');
      var name = $(parent).find('.name').text()
      var handle = $(parent).find('.media-handle').text()
      var followers = $(parent).find('').text()
      var engagement = $(parent).find('').text()

      console.log({imageLink, name, handle})

      $('#table2').append(`<tr id="table2_row">

          <td>
          <span class="avatar"><img src="${imageLink}" /></span>
          </td>

          <td>
            <h3 class="name">${name}</h3>
            <small class="handle">
              <i class="fab fa-instagram"></i>
              <span class="media-handle">${handle}</span>
            </small>
          </td>
          <td>
            <h3>${followers}</h3>
          </td>
          <td>
            <h3>${engagement}</h3>
          </td>
          <td class="deleteButton">
            <i class="fas fa-times"></i>
          </td>
        </tr>`)

      $(".deleteButton").click(function(){
      $(this).parents('tr').first().remove();
      });
    });


//SORT
    // $(document).ready(function() {
  //Set id field to 1
  var id = $('#UserID');
  id.val("1");

  // //Add 1 to the id in textbox
  // function incID(){
  //   var str = id.val();
  //   var int = parseInt(str);
  //   var idVal = int + 1;
  //   id.val(idVal.toString());
  // }
  // //When button clicked
  // $('button').on('click', function(){
  //   //create a new object
  //   var obj = new Object();
  //   //pass value dynamically from input box
  //   obj.id = $('#UserID').val();
  //   obj.name = $('#UserName').val();
  //   obj.occupation = $("#UserOccupation").val();
  //   //display data to the table
  //   var addrow = "<tr><td class='col-id'>" + obj.id + "</td><td class='col-name'>" + obj.name + "</td><td class='col-occupation'>"+ obj.occupation +"</td></tr>";
  //   $("table tbody").append(addrow);
  //   //Add 1 to id field
  //   incID();
  // });

  function sortByNumber(rows, selector, ascending) {
    rows.sort(function(a, b) {
      var numberA = parseInt($(selector, a).text(), 10);
      var numberB = parseInt($(selector, b).text(), 10);
      if (ascending)
        return numberA - numberB;
      else
        return numberB - numberA;
    });

    return rows;
  }

  function sortByText(rows, selector, ascending) {
    rows.sort(function(a, b) {
      var textA = $(selector, a).text();
      var textB = $(selector, b).text();
      if (ascending)
        return textA.localeCompare(textB);
      else
        return textB.localeCompare(textA);
    });

    return rows;
  }

  function sortAllBy(field) {
    var rows = $('table tbody tr').toArray();

    switch (field) {
      case 'ID':
        rows = sortByNumber(rows, 'td.col-id', true);
        break;
      case 'Name':
        rows = sortByText(rows, 'td.col-name', true);
        break;
      case 'Occupation':
        rows = sortByText(rows, 'td.col-occupation', true);
        break;
      default:
        console.error('Undefined sort field ' + field);
        break;
    }

    for (var i = 0; i < rows.length; i++) {
      $('table tbody').append(rows[i]);
    }
  }

  $('select').on('change', function() {
    sortAllBy(this.value);
  });
});


</script>
