// Place all the styles related to the app_influencers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//BODY
.container {
    margin-right: 15px;
    margin-left: 15px;
    margin-top:10px;
    overflow:hidden;
}

//TABLE
#table1{
  border-right: 2px dotted #cccccc;

}
#table2 {
  margin-left: 80px;
  // width: 75%;
}

.table_title{
  margin-left: 80px;
}

tr.table2_row{
  // margin-right:80px;
  // display:flex;
  width: 200px;

}

tr {
  transition:all .25s ease-in-out;
  width: 300px;
}

.fas:hover{
  background-color: #ddd;
}

.title{
  float:left;
}
.fas{
    margin-right:10px;
}

tr.influencer {
  width: 300px;
}

//CONTENT

img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-size: cover;
}

.tab{
  float: left
}
.tab-btn{
  margin: 50px;
}

button{
  display:block;
  margin-bottom: 20px;
}

h3{
  color: #383838;
}

.sortby{
  margin-top:25px;
  float:right;
}

.name{
  padding-left: 10px;
  padding-right: 10px;
}

.follower-td{
  padding-left: 320px;
  padding-right: 10px;
}

.engagement-td{
  padding-left: 10px;
  padding-right: 10px;
}

.fab{
  padding-left:10px;
}
